@import '../../../index.scss';
  
.button {
  text-align: center;
  font-family: $inter;
  padding: 10px 25px;
  border-radius: 7px;
  border: none;
  text-decoration: none;
  margin-right: 20px;
  font-weight: 700;
  &.button-blue {
    background-color: $primary;
    color: $secondary;
    &:hover {
      background-color: $secondary;
      color: $primary;
      border: 1px solid $primary;
    }
  }
  &.button-yellow {
    background-color: $headers-color;
    color: $nav-link-color;
    border: 1px solid $nav-link-color;
    &:hover {
      background-color: $nav-link-color;
      color: $headers-color;
      border: 1px solid $headers-color;
    }
  }
  &.button-grey {
    background-color: $yellow;
    color: $secondary;
    &:hover {
      background-color: $secondary;
      color: $yellow;
      border: 1px solid $yellow;
    }
  }
}