
@import '../../../../index.scss';

.review {
    font-family: $inter;
    &__author {
        color: $headers-color;
        font-size: 22px;
        font-weight: 700px;
    }
    
    &__text {
        font-size: 19px;
        color: $headers-color;
    }
    
    &__date {
        font-size: 17px;
        font-weight: 200;
        color: $nav-link-color;
    }
}
