@import '../../../index.scss';

.website-orders {
    @include section_padding();
    & h2 {
        color: $headers-color;
        font-family: $inter;
        font-size: 35px;
        font-family: 500;
    }
    & h1 {
        color: $secondary;
        font-family: $poppins;
        font-size: 75px;
        font-weight: 700;
        text-shadow: 5px 5px 8px $yellow;
        margin: 60px 0;
    }
    & ul {
        list-style-type: none;
        padding-inline-start: 0;
    }
    & strong p {
        margin: 25px 0;
    }
}