@import '../../index.scss';

nav {
  @include flex-justify-wrap(space-between, baseline, nowrap);
  padding: 10px 64px;
  & .nav-links {
    list-style-type: none;
    & li {
      display: inline-block;
    }
    & .nav-link {
      font-family: $inter;
      text-transform: uppercase;
      border: none;
      color: $nav-link-color;
      &:hover {
        font-weight: 700;
        color: $headers-color;
      }
      &.active {
        font-weight: 700;
        color: $primary;
        background-color: $nav-link-color;
        border-radius: 5px;
      }
    }
  }
}
  

  #logo {
	height: 58px;
}
#mainNav {
    background: $primary;

}