@import '../../index.scss';

.footer {
    background: $nav-link-color;
    @include section_padding();
    font-family: $pt-serif;
    color: $primary;
    flex-shrink: 0;
    
    & h2 {
        color: $primary;
        margin-bottom: 6px;
    }

    &__icons {
        margin-bottom: 10px;
        & a:not(:last-child) {
            margin-right: 8px;
        }
    }

    &__copyright {
        font-size: 13px;
    }
    &__panel {
        text-decoration: none;
        color: $primary;
        &:hover {
            color: $primary;
        }
    }
}