@import '../../index.scss';
.header {
   
    height: 100vh;
    width: 100vw;
    background-image: url('../../../public/main.jpg');
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.7);
    background-size: cover;
    &__info {
        padding: 20% 50px;
    }
    & h1 {
        color: $primary;
        font-family: $pt-serif;
        font-size: 50px;
    }
    &__links {
        margin-top: 20px;
    }
    & a:not(:last-child) {
        margin-right: 10px;
    }
}